.ticker {
  height: 100vh;
  overflow: hidden;
  display: flex;
  &__text {
    display: inline-block;
    margin-right: 20px;
  }
  &__item {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    white-space: nowrap;
    z-index: -2;
    &:nth-child(1) {
      transform: translate(-50%, -50%) rotate(150deg);
      @media (max-width: 1024px) {
        transform: translate(-50%, -50%) rotate(135deg);
      }
      span {
        animation: tickerAnimationOne 10s linear infinite;
      }
    }

    &:nth-child(2) {
      transform: translate(-50%, 100%) rotate(329deg);
      @media (max-width: 1024px) {
        transform: translate(-50%, 100%) rotate(315deg);
      }
      span {
        animation: tickerAnimationTwo 10s linear infinite;
      }
    }

    span {
      font-weight: 700;
      font-size: 52px;
      line-height: 110%;
      text-transform: uppercase;
      text-align: center;
      opacity: 0.1;
      white-space: nowrap;
      display: inline-block;
      color: black;
      // color: transparent;
      // -webkit-text-stroke-width: 1px;
      // -webkit-text-stroke-color: #373737;
    }
  }
}

@keyframes tickerAnimationOne {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes tickerAnimationTwo {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
