.title {
  font-weight: 700;
  font-size: 82px;
  line-height: 110%;
  text-transform: uppercase;
  text-align: center;
  color: #373737;
  max-width: 1023px;
  @media (max-width: 1024px) {
    font-size: 58px;
    max-width: 724px;
  }
  @media(max-width: 768px) {
    max-width: 568px;
  }

  @media (max-width: 567px) {
    font-size: 34px;
    max-width: 333px;
  }
}
